* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container {
  width: 1110px;
  margin: 0 auto;
  }
  /* header */
.logo {
    font-family: 'Roboto';
    font-size: 30px;
    text-transform: uppercase;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-weight: lighter;
    color: #0f0101;
    margin-top: 36px;
    float: left;
  }
.logo::first-letter {
  color: #4ec6ab;
  font-family: 'Roboto';
  font-size: 30px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  }
b {
    color: #4ec6ab;
    }
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.navigation_list {
    float: right;
    margin-top: 38px;
}
.navigation_list_item {
    float: left;
}
.navigation_list_item:not(:last-child) {
    margin-right: 35px;
}
.navigation_link {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;
    color: #0f0101;
    text-transform: uppercase;
    font-weight: bold;
}
.navigation_link:hover {
    color: #1abc9c;
}
.header {
    padding: 38px;
}
/* slider */
.banner-background {
    position: relative;
    z-index: 1;
  }
 /* catalog */
 h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    position: relative;
    text-align: center;
    color: #515151;
    text-transform: uppercase;
    font-weight: bolder;
  }
a.name {
  color: #ffffff;
}
  .title:after {
    content: "";
    display: block;
    width: 160px;
    height: 8px;
    background-color: #1abc9c;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 90px;
  }
  .catalog {
      width: 1110px;
      margin: 0 auto;
  }
  
  .article {
    float: left;
    width: 255px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #323232;
  }
  .article:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .article:not(:nth-last-child(-n + 4)) {
    margin-bottom: 30px;
  }
  h3 {
    float: left;
    font-family: 'Roboto', regular;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    margin-left: 12px;
    align-items: center;
    font-family: 'Roboto', black;
    text-transform: uppercase; 
  }
  
  .icon {
    float: right;
    width: 55px;
    background-color:  rgba(255, 255, 255, 0.44);
    line-height: 34px;
    text-align: center;
  }
  .price {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Roboto', regular;
  }
  .article:hover {
    background-color: #1abc9c;
  }
  .article:hover .icon {
    background-color:  #7fd9c7;
  }
  h4 {
    font-family: 'Roboto', regular;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    line-height: 32px;
  }
  .colection {
    padding-bottom: 98px;
    background-color: #e9f0fd;
    padding-top: 108px;
    margin: 0;
}
  /* footer */
  footer {
    background-color: #323232;
    padding-top: 38px;
    padding-bottom: 32px;
    text-align: center;
  }
  p {
    color: #ffffff;
  }
  
