* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    }
  /* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
       url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/roboto-v20-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('../fonts/roboto-v20-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('../fonts/roboto-v20-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /*header */
  .intro {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
  }
  .header-fill {
    background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url('../img/Layer\ 15back1x.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .main-block {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    padding-bottom: 245px;
  }
  .main-block-first {
    text-align: center;
    width: 820px;
  }
  .main-block-first__main-text {
    font-family: 'Montserrat';
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 150px;
    font-size: 150px;
    margin-top: 50px;
    margin-bottom: 110px;
  }
  .main-block-first__pretext {
    font-family: 'Kaushan Script';
    color: #ffffff;
    font-size: 72px;
  }

  .logo {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
  }
  .menu {
    display: flex;
    text-transform: uppercase;
    list-style: none;
  }
  .menu a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #ffffff;
    position: relative;
  }
  .menu a:hover {
    color: #fce38a;
  }
  .main-block-first__push {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
    width: 160px;
    height: 40px;
    border: 2px solid #ffffff;
  }
  .menu__link:hover:after {
    content: "";
    display: block;
    text-transform: uppercase;
    width: 100%;
    height: 2px;
    background-color: #fce38a;
    position: absolute;
    margin-top: 10px;
  }
  .menu__item:not(:last-child) {
    margin-right: 56px;
  }

  /* section one */
  .first {
      text-align: center;
  }
  .title {
      margin-top: 130px;
  }
  .first__subtitle {
      font-size: 24px;
      font-family: 'Kaushan Script';
      color: #333333;
  }
  .first__undertitle {
    display:  block;
    font-family: 'Montserrat';
    color: #333333;
    text-transform: uppercase;
    font-size: 38px;
  }
  h2:after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: #f36f6f;
    margin: 0 auto;
    margin-top: 42px;
  }
  /* catalog */
  .service {
    max-width: 1200px;
  }
  .service__works {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
}
.lit {
    align-content: space-between;
    width: 360px;
    padding-left: 90px;
    position: relative;
    margin-top: 80px;
}
.one::before {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: "";
    background-image: url('../img/img-alarm.png');
    background-size: contain;
    background-position: center;
}
.two::before {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: "";
    background-image: url('../img/img-line.png');
    background-size: contain;
    background-position: center;
}
.three::before {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: "";
    background-image: url('../img/img-computer.png');
    background-size: contain;
    background-position: center;
}
.four::before {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: "";
    background-image: url('../img/img-seo.png');
    background-size: contain;
    background-position: center;
}
.five::before {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: "";
    background-image: url('../img/img-home.png');
    background-size: contain;
    background-position: center;
}
.six::before {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: "";
    background-image: url('../img/img-digital.png');
    background-size: contain;
    background-position: center;
}
h3 {
    font-family: 'Montserrat';
    color: #333333;
    text-transform: uppercase;
    font-size: 14px;
  }
  p {
    font-family: 'Roboto';
    color: #252525;
    font-size: 14px;
  }
/* team */
.group {
    margin-top: 91px;
}
.first__about {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
}
.first__about__we {
    width: 940px;
    text-align: center;
    color: #999999;
    font-family: 'Roboto';
    font-size: 15px;
}
.text {
  margin-top: 18px;
  color: #999999;
}
.team {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
  }
  .card {
    width: 380px;
    position: relative;
  }  
  .card-image {
    transition: transform .1s linear;
  }
  .name {
    font-family: 'Montserrat';
    color: #5d5d5d;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
  }
  .profession {
    font-family: 'Roboto';
    color: #4a4a4a;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
  }
  .card:hover .card-image {
    transform: translate3d(-10px, -10px, 0);
    box-shadow: 10px 10px 0 0 #95e1d3;
  } 
  .card:hover .overlay {
    visibility: visible;
  }
  .overlay {
    width: 380px;
    height: 472px;
    background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    transition: transform .1s linear;
    visibility: hidden;
  }
  .overlay-socials__list_link {
    display: block;
    height: 56px;
    width: 56px;
    background-color: #fce38a;
    text-decoration: none;
  }
  .overlay-socials__list_link:hover {
    background-color: #95e1d3;
  }
  .svg {
    fill: red;
    background-position: contain;
  }
  /* .facebook {
  }
  .twitter {
    background-image: url("../img/twitter.png");
  }
  .pinterest {
    background-image: url("../img/pinterest.png");
  }
  .instagram {
    background-image: url("../img/instagram.png");
  }  */
  .overlay-socials {
    width: 227px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
/* footer */
.down {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 29px;
}
hr {
  border: none;
   background-color: #e5e5e5 ;
   height: 1px;
}
.button_box {
  background-color: #95e1d3;
  font-family: 'Montserrat';
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  padding-left: 33px;
  padding-right: 33px;
  border: 0;
}
.contacts {
  font-family: 'Montserrat';
    color: #333333;
    font-size: 14px;
}
.mark {
  color: #f38181;
}
.answer {
  display: flex;
  height: 40px;
}
input::placeholder {
  font-family: 'Roboto';
  color: #cccccc;
  font-style: italic;
}
@media (min-resolution: 192dpi) {
  .header-fill {
    background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url('../img/Layer\ 15back2x.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
}