/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  }
/* montserrat-regular - latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
src: local('Montserrat Regular'), local('Montserrat-Regular'),
     url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
     url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('../fonts/montserrat-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
     url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('../fonts/montserrat-v14-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* kaushan-script-regular - latin */
@font-face {
font-family: 'Kaushan Script';
font-style: normal;
font-weight: 400;
src: local('Kaushan Script'), local('KaushanScript-Regular'),
     url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-100 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 100;
src: local('Roboto Thin'), local('Roboto-Thin'),
     url('../fonts/roboto-v20-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('../fonts/roboto-v20-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
src: local('Roboto Light'), local('Roboto-Light'),
     url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
src: local('Roboto'), local('Roboto-Regular'),
     url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300italic - latin */
@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: 300;
src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
     url('../fonts/roboto-v20-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('../fonts/roboto-v20-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500italic - latin */
@font-face {
font-family: 'Roboto';
font-style: italic;
font-weight: 500;
src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
     url('../fonts/roboto-v20-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
     url('../fonts/roboto-v20-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/*header */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-fill {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9))), url('../img/Layer\ 15back1x.png') ;
  background-image: -o-linear-gradient(top, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url('../img/Layer\ 15back1x.png') ;
  background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url('../img/Layer\ 15back1x.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 170px;
  padding-bottom: 245px;
}
.main-block-first {
  text-align: center;
  width: 820px;
}
.main-block-first__main-text {
  font-family: 'Montserrat';
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 150px;
  font-size: 150px;
  margin-top: 50px;
  margin-bottom: 110px;
}
.main-block-first__pretext {
  font-family: 'Kaushan Script';
  color: #ffffff;
  font-size: 72px;
}

.logo {
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  list-style: none;
}
.menu a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 14px;
  color: #ffffff;
  position: relative;
}
.menu a:hover {
  color: #fce38a;
}
.main-block-first__push {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  width: 160px;
  height: 40px;
  border: 2px solid #ffffff;
}
.menu__link:hover:after {
  content: "";
  display: block;
  text-transform: uppercase;
  width: 100%;
  height: 2px;
  background-color: #fce38a;
  position: absolute;
  margin-top: 10px;
}
.menu__item:not(:last-child) {
  margin-right: 56px;
}
.menu__link--card {
  fill: #ffffff;
}
.menu__link--card:hover {
  fill: #fce38a;
}
.over:hover {
  fill: #f36f6f;
}
.over:hover {
  fill: #ffffff;
}

/* section one */
.first {
    text-align: center;
}
.title {
    margin-top: 130px;
}
.first__subtitle {
    font-size: 24px;
    font-family: 'Kaushan Script';
    color: #333333;
}
.first__undertitle {
  display:  block;
  font-family: 'Montserrat';
  color: #333333;
  text-transform: uppercase;
  font-size: 38px;
}
h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: #f36f6f;
  margin: 0 auto;
  margin-top: 42px;
}
/* catalog */
.service {
  max-width: 1200px;
}
.service__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 100%;
}
.lit {
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 360px;
  padding-left: 90px;
  position: relative;
  margin-top: 80px;
}
.one::before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  background-image: url('../img/ALARM.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.two::before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  background-image: url('../img/LINE\ GRAPH.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.three::before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  background-image: url('../img/COMPUTER\ _\ OK.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.four::before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  background-image: url('../img/BOOK\ 2.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.five::before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  background-image: url('../img/HOME.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.six::before {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  content: "";
  background-image: url('../img/IMAGE.svg');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
h3 {
  font-family: 'Montserrat';
  color: #333333;
  text-transform: uppercase;
  font-size: 14px;
}
p {
  font-family: 'Roboto';
  color: #252525;
  font-size: 14px;
}
/* team */
.group {
  margin-top: 91px;
}
.first__about {
  margin-top: 50px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.first__about__we {
  width: 940px;
  text-align: center;
  color: #999999;
  font-family: 'Roboto';
  font-size: 15px;
}
.text {
margin-top: 18px;
color: #999999;
}
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 84px;
}
.card {
  width: 380px;
  position: relative;
}  
.card-image {
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  -o-transition: transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
}
.name {
  font-family: 'Montserrat';
  color: #5d5d5d;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
}
.profession {
  font-family: 'Roboto';
  color: #4a4a4a;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}
.card:hover .card-image {
  -webkit-transform: translate3d(-10px, -10px, 0);
          transform: translate3d(-10px, -10px, 0);
  -webkit-box-shadow: 10px 10px 0 0 #95e1d3;
          box-shadow: 10px 10px 0 0 #95e1d3;
} 
.card:hover .overlay {
  visibility: visible;
}
.overlay {
  width: 380px;
  height: 472px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9)));
  background: -o-linear-gradient(top, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  -o-transition: transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
  visibility: hidden;
}
.overlay-socials__list_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  width: 56px;
  background-color: #fce38a;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overlay-socials__list_link:hover {
  background-color: #f36f6f;
}

.overlay-socials {
  width: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* footer */
.down {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
margin-top: 25px;
margin-bottom: 29px;
}
hr {
border: none;
 background-color: #e5e5e5 ;
 height: 1px;
}
.button_box {
background-color: #95e1d3;
font-family: 'Montserrat';
color: #ffffff;
text-transform: uppercase;
font-size: 14px;
text-align: center;
padding-left: 33px;
padding-right: 33px;
border: 0;
}
.contacts {
font-family: 'Montserrat';
  color: #333333;
  font-size: 14px;
}
.mark {
color: #f38181;
}
.search-block {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
height: 40px;
}
input::-webkit-input-placeholder {
font-family: 'Roboto';
color: #cccccc;
font-style: italic;
}
input::-moz-placeholder {
font-family: 'Roboto';
color: #cccccc;
font-style: italic;
}
input:-ms-input-placeholder {
font-family: 'Roboto';
color: #cccccc;
font-style: italic;
}
input::-ms-input-placeholder {
font-family: 'Roboto';
color: #cccccc;
font-style: italic;
}
input::placeholder {
font-family: 'Roboto';
color: #cccccc;
font-style: italic;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
.header-fill {
  background-image: #black, url('../images/icons/fire.svg') ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

}