* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
html {
  box-sizing: border-box;
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
       url('../fonts/montserrat-v14-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
       url('../fonts/montserrat-v14-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
       url('../fonts/montserrat-v14-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  }
.start  {
  background-color: black;
  background-image: url("../img/background-mob.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  padding-top: 40px;
  padding-bottom: 22px;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.logo {
  font-family: 'Montserrat';
  font-weight: 800;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  text-align: center;
}
.text {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 18px;
  text-align: center; 
  padding-bottom: 20px;
  width: 220px;
}
.navigation {
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}
.red {
  margin-bottom: 138px;
  background-color: #ff4e50;
  width: 280px;
  height: 40px;
  border: none;
  border-radius: 50px;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
.click {
  width: 90px;
  height: 36px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-decoration: none;
  outline: none;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
.click:hover {
  width: 90px;
  height: 36px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  text-decoration: none;
  transition: 0.2;
}
.team {
  padding-top: 75px;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #333333;
  font-size: 22px;
  text-align: center;
  padding-bottom: 20px;
}
.last {
  background-color: rgba(255, 255, 255, 0);
  width: 280px;
  height: 40px;
  border: 2px solid #ff4e50;
  border-radius: 50px;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #ff4e50;
  font-size: 14px;
  text-align: center;
  margin-bottom: 57px;
}
.person {
  font-family: 'Montserrat';
  font-weight: 800;
  color: #333333;
  font-size: 14px;
  text-align: center;
  padding-bottom: 21px;
}
.discription {
  font-family: 'Roboto';
  color: #666666;
  font-size: 14px;
  text-align: center; 
  width: 224px;
}
ul, li {
 list-style: none;
}
.teamlist {
  padding-bottom: 30px;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  position: relative;
}
.photo::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 2px solid #ff4e50;
  z-index: 100;
  right: 52px;
  bottom: 23px;
}
img {
  border-radius: 50%;
}
/* tablet */
@media  (min-width: 760px) 
{
.start  {
  background-color: black;
  background-image: url("../img/background-tab.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}
.area {
  width: 670px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.name {
  width: 530px;
  padding-top: 154px;
  padding-bottom: 40px;
  font-size: 50px;
}
.text {
  font-size: 24px;
  padding-bottom: 47px;
  width: 404px;
}
.red {
  margin-bottom: 233px;
}
.team {
  padding-top: 78px;
  font-size: 22px;
  padding-bottom: 36px;
}
.catalog {
  width: 532px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.last {
  margin-bottom: 40px;
}
.teamlist {
  padding-bottom: 60px;
}
.person {
  padding-bottom: 25px;
}
.teamlist:nth-child(3){
  order: 2;
}
.teamlist:nth-child(2){
  order: 3;
}
.teamlist:nth-child(4){
  order: 4;
}
}
@media  (min-width: 1280px)  {
  .container {
    width: 100%;
    max-width: 942px;
    margin: 0 auto;
    }
  .start  {
    background-color: black;
    background-image: url("../img/background-laptop.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
  }
  .area {
    width: 942px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .catalog {
    width: 942px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .last {
    margin-bottom: 74px;
  }
}